.all {
    /* background-image: url('../../fotos/backround\ activity.jpg') ; */
    background-color: rgb(15 23 42);
    background-size: cover;

    width: auto;
    height: 100%;
    min-height: 100vh;
    font-family: 'Source Serif Pro', serif;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 7fr 1fr;
    grid-template-areas: "titulo titulo"
                         "cuadro cuadro2" 
                         "nada boton";     
            
                         /* background: rgba(0, 0, 0, 0.586);
                         border-radius: 16px;
                         box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                         backdrop-filter: blur(5px);
                         border: 1px solid rgba(52, 137, 255, 0.815);
                         filter: drop-shadow(1px 1px 2px rgb(0, 0, 0)); */
                        
                      
}

.up{
    grid-column-start: titulo;
    grid-column-end: titulo;
    grid-row-start: titulo;
    grid-row-end: titulo;
    display: grid;
    grid-template-columns: 1fr 10fr;  
    margin-top: 75px;
    background-color: transparent;
    opacity: 0.8;
    justify-content: flex-start;   
    
    
    
}

#img {
    align-self: center;
    justify-self: center;
    width:200px; 
     width: 500px;
    height: 400px;
    max-width: 100%;
    max-height: 100%;
    margin: 10px 0 30px 0;
  
    border-radius:5px;
    -webkit-border-radius:50%;
    box-shadow: 0px 0px 15px 15px  rgb(14 165 233);
    -webkit-box-shadow: 0px 0px 15px 15px  rgb(14 165 233);
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
   
}
/* .flag:hover{
    border-radius:5px;
    -webkit-border-radius:50%;
    box-shadow: 0px 0px 15px 15px #ec731e;
    -webkit-box-shadow: 0px 0px 15px 15px #ec731e;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    } */

#flag{
    filter: saturate(180%);
    align-self: center;
    justify-self: center;
    width: 300px;
    height: 200px;
    max-width: 100%;
    max-height: 100%;
    margin: 10px 0 30px 0;
    border-radius: 4px;  
    padding-left: 50px;    
    
    /* overflow:hidden; */
  
}

.name{
    /* display:block;
    font-size: 60px;
    align-self: flex-start;
    justify-self: flex-start;
    align-self: center;
    padding-top: 10px; */
    display: flex;
    font-size: 100px;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: auto;

}

#maps{
    width: 40px;
    height: 40px;
    position: relative;
    left: 215px;;
    top: 10px;
}

.down {
    display: grid;
    border-radius: 10px;
    text-decoration: none;
    opacity: 0.8;
    height: 200px;
    width: 500px;
    margin-top: 0px;
    margin-left: 30px;
    gap: 10px;
    align-items:center;
    font-size:xx-large;
    background-image: ('../../fotos/Crear Actuvity.jpg');
    /* box-shadow: 0px 0px 10px 10px  rgb(14 165 233);
    -webkit-box-shadow: 0px 0px 10px 1px  rgb(14 165 233); */
    font-family: sans-serif;
 
}

.info{
    margin-left: 10px;
    font-size: x-large;
    text-decoration: underline;
  

}

.cuadro{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: large;

}

.span1 {
    margin-left: 10px;
    justify-self: flex-start;
}

.span2 {
    margin-right: 10px;
    justify-self: flex-end;
}
.card2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(1fr);
    /* border: #c0c0c0 solid 1.8px;
    border-radius: 10px; */
    /* background-color: rgba(173,181,189, 0.35);; */
    background-color: transparent;
    opacity: 0.8;
    height: min-content;
    width: 300px;
    margin-top: 50px;
    margin-left: 20px;
    gap: 26px;
    align-items: center;
    font-size:medium;
    text-decoration: none;
    font-family: sans-serif;
    
}

.carousel-container {
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden;
  }
  
  .carousel {
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel-slide {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .carousel-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  









.card2 p{
    font-size: 35px;
    text-decoration: none;
    font-size: x-large;  
    /* display: flex; */
    align-content:flex-end;
    justify-content: center;
    color:white; ;
    margin-top: 30px;
}

#activity {
    font-size: x-large;
    /* text-decoration: underline; */
  color: white;
  margin-top: 50px;
    justify-content: center;
    align-items: center;
    
}

.btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.btn button {
    width: 155px;
    height: 30px;
    background-color: transparent;
    border: #c0c0c0 solid 1.8px;
    border-radius: 10%;
    color: #c0c0c0;
    font-family: 'Source Serif Pro', serif;
    font-weight: 300;
    font-size: 17px;
    animation: fadein 3s;
    justify-self: center;
}

.btn button:hover {
    cursor: pointer;
    color: black;
    background-color: grey;
}

.info{
    text-decoration: none;
}

.mapita{
 
    text-decoration: none;
      /* box-shadow: 0px 0px 5px 5px  rgb(14 165 233);
    -webkit-box-shadow: 0px 0px 10px 10px  rgb(14 165 233); */
    justify-content: right;
    margin-left: 5px;
    color: aliceblue;
    border-radius: 15px;
    width: 80px;

}

.mapita:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(14 165 233);

}




@keyframes fadein {
    0% {
        opacity:0;
    }
    50%{
        opacity:0.5;
    }
    100% {
        opacity:1;
    }
}

@media screen and (min-width: 850px) and (max-width: 1100px){
    .down{
        width: 400px;
    }
    .card2{
        width: 400px;
    }
    #maps{
        left: 115px;;
    }
}
@media screen and (max-width: 850px){
    .all {
        display: flex;
        flex-direction: column;  
        height: max-content;
        width: auto;
    }
    .up{
        grid-template-columns: 1fr 7fr;
        margin-left: 10px; 
    }
    .down{
        width: 450px;
        height: 300px;
        gap: 10px;
        margin-top: 40px;
        margin-bottom: 20px;
    }
    #maps{
        left: 165px;;
    }
    #img {
        width: 50px;
        height: 50px;
        border-radius: 100%;
    }

    .card2{
        width: 450px;
        margin-top: 40px;
        margin-bottom: 30px;
    }
    .name{
        font-size: 50px;
        margin-left: 50px;
        margin-top: 10px;
    }
}

@media screen and (max-width: 660px){
    .down{
        width: 450px;
        height: 250px;
        margin-top: 40px;
    }
    #maps{
        left: 165px;;
    }
    .btn {
        display:none;
    }
}

@media screen and (max-width: 490px){
    .all{
        width: auto;
        /* width: 500px; */
        height: fit-content;
        margin-left: 0px;
    }
    .up{
        width: fit-content;
        margin-left: 5px;
    }
    .down{
        width: 360px;
        height: 290px;
        margin-top: 40px;
        margin-left: 7px;
        gap: 15px;
    }
    #maps{
        left: 80px;;
    }

    .card2{
        width: 360px;
        margin-top: 40px;
        margin-bottom: 30px;
        margin-left: 7px;
    }
    .btn {
        display:none;
    }
}































/* 
.backgroundDetail{
    background-color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;    
}

.containerDetail {  
    background-color: white;
    display: flex;
    flex-direction: row;
    width: 1050px;
    height: auto;
    border-radius: 30px;    
    border: none;    
}
.left{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: auto;
    border-radius: 30px 0 0 30px;    
}  

.imageDetail{
    width: 500px;
    height: 400px;
    max-width: 100%;
    max-height: 100%;
    margin: 10px 0 30px 0;
    border-radius: 10px;        
}

.titleDetail{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: auto;
    color:black
}

.description{    
    text-align: start; 
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 40%;
    height: auto;
    border-radius: 0 30px 30px 0;
    margin: 5px;     
    color:black   
}    

.descriptionDetail{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    margin: auto 20px 20px 20px;    
    font-size: 16px;    
}

.dataDetail{
    display: flex;
    justify-content:flex-start ;
    align-items: center;
    width: 275px;        
}

.buttonHome {
    background-color: brown;
    margin: 10px;
    height: auto;
    width: auto;
    padding: 2px 18px;
    border:none;
    border-radius: 30px;
    font-size: 25px;    
    letter-spacing: 0.3px;
    color:white;
    cursor: pointer;
} */